repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0  # Use the latest version
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
